<section>
    <mat-tab-group class="my-container" >
        <mat-tab label="Requests" *ngIf="this.userService.getCurrenSession().acc_type == 'passenger'">
            <ng-template matTabLabel>
                <span >Sheduled Rides</span>
            </ng-template>
          <app-notification-requests></app-notification-requests>
        </mat-tab>

        <mat-tab label="Requests" *ngIf="this.userService.getCurrenSession().acc_type == 'driver'">
                <ng-template matTabLabel>
                    <span >Requests</span>
                </ng-template>
                <app-notification-requests-driver></app-notification-requests-driver>
            </mat-tab>
    
        <mat-tab label="Finished Rides">
            <ng-template matTabLabel>
                <span>Finished Rides</span>
            </ng-template>
          <app-notification-ended-rides></app-notification-ended-rides>
        </mat-tab>
    </mat-tab-group>
</section>